<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comerciales</title>
    <link rel="stylesheet" type="text/css" href="/styles/build/stylesheets/styles.css"/>
</head>
<body>
<body>

<div id="contenedora">
    <div>
        <div>
            <h1>Comerciales</h1>
        </div>
        <div>

            <div>

                <form action="/comerciales/crear">
                    <input type="submit" value="Crear">
                </form>
            </div>

        </div>
    </div>

    <div>
        <div>Código</div>
        <div>Nombre</div>
        <div>Apellido 1</div>
        <div>Apellido 2</div>
        <div>Comision</div>

        <div>Acción</div>
    </div>


    <div  th:each="comercial : ${listaComerciales}">
        <div th:text="${comercial.id}">Código</div>
        <div th:text="${comercial.nombre}">Nombre</div>
        <div th:text="${comercial.apellido1}">Apellido 1</div>
        <div th:text="${comercial.apellido2}">Apellido 2</div>
        <div th:text="${comercial.comision}">Comision</div>


        <div>
            <form th:action="@{/comerciales/__${comercial.id}__}">
                <input type="submit" value="Ver Detalle" />
            </form>
            <form th:action="@{'/comerciales/editar/'+${comercial.id}} ">
                <input type="submit" value="Editar" />
            </form>
            <form th:action="@{'/comerciales/borrar/'+${comercial.id}}" method="post">
                <input type="submit" value="Eliminar" />
            </form>
        </div>
    </div>
</div>
</body>
</body>
</html>