<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Comercial</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>

<div id="contenedora">
    <div class="header">
        <h1>Detalle Comercial</h1>
    </div>

    <div class="theader">
        <div class="list-group-items fw-bold">Código</div>
        <div class="list-group-items fw-bold">Nombre</div>
        <div class="list-group-items fw-bold">Apellido 1</div>
        <div class="list-group-items fw-bold">Apellido 2</div>
        <div class="list-group-items fw-bold">Comision</div>
    </div>

    <div class="bodyTable">
        <div class="list-group-items fw-bold" th:text="${comercial.id}"></div>
        <div class="list-group-items" th:text="${comercial.nombre}"></div>
        <div class="list-group-items" th:text="${comercial.apellido1}"></div>
        <div class="list-group-items" th:text="${comercial.apellido2}"></div>
        <div class="list-group-items" th:text="${comercial.comision}"></div>

    </div>

    <div class="pedidos">
        <div class="fondoTitulo">
            <h3 class="fw-bold">Pedidos</h3>
        </div>

        <div class="theader">
            <div class="list-group-items fw-bold">ID Pedido</div>
            <div class="list-group-items fw-bold">Total</div>
            <div class="list-group-items fw-bold">Fecha</div>
            <div class="list-group-items fw-bold">ID Cliente</div>
            <div class="list-group-items fw-bold">ID Comercial</div>
        </div>

        <div class="bodyTable" th:each="pedido : ${pedidos}">
            <div class="list-group-items fw-bold" th:text="${pedido.id}"></div>
            <div class="list-group-items" th:text="${pedido.total}"></div>
            <div class="list-group-items" th:text="${pedido.fecha}"></div>
            <div class="list-group-items" th:text="${pedido.id_cliente}"></div>
            <div class="list-group-items" th:text="${pedido.id_cliente}"></div>

        </div>

    </div>




    <div class="return">

        <form action="/comerciales" >
            <input class="btn btn-light" type="submit" value="Volver a listado" />
        </form>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>