<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Comercial</title>

</head>
<body>

<div id="contenedora" >
    <div>
        <div>
            <h1>Detalle Comercial</h1>
        </div>
        <div>

            <div>

                <form action="/comerciales" >
                    <input type="submit" value="Volver" />
                </form>
            </div>

        </div>
    </div>

    <div>
        <hr/>
    </div>

    <div>
        <div>
            <label>ID</label>
        </div>
        <div>
            <p th:text="${comercial.id}"/>
        </div>
    </div>

    <div>
        <div>
            <label>Nombre</label>
        </div>
        <div>
            <p th:text="${comercial.nombre}"/>
        </div>
    </div>

    <div>
        <div>
            <label>Apellido 1</label>
        </div>
        <div>
            <p th:text="${comercial.apellido1}"/>
        </div>
    </div>

    <div>
        <div>
            <label>Apellido 2</label>
        </div>
        <div>
            <p th:text="${comercial.apellido2}"/>
        </div>
    </div>

    <div>
        <div>
            <label>Comisión</label>
        </div>
        <div>
            <p th:text="${comercial.comision}"/>
        </div>
    </div>

</div>

</body>
</html>