<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Comercial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>

<div id="contenedora">
    <div class="header">
        <h1 th:text="#{h1_detalleComercial}"></h1>
    </div>

    <div class="theader">
        <div class="list-group-items fw-bold" th:text="#{txt_ID}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_Nombre}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_Apellido1}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_Apellido2}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_Comisión}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_TotalPedidos}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_MediaPedidos}"></div>

    </div>

    <div class="bodyTable">
        <div class="list-group-items fw-bold" th:text="${comercial.id}"></div>
        <div class="list-group-items" th:text="${comercial.nombre}"></div>
        <div class="list-group-items" th:text="${comercial.apellido1}"></div>
        <div class="list-group-items" th:text="${comercial.apellido2}"></div>
        <div class="list-group-items" th:text="${comercial.comision}"></div>
        <div class="list-group-items" th:text="${totalPedidosComercial}"></div>
        <div class="list-group-items" th:text="${mediaPedidosComercial}"></div>





    </div>

    <div class="pedidos">

        <div class="fondoTitulo">
            <h3 class="fw-bold" th:text="#{h1_Pedidos}"></h3>
        </div>

        <!--/*Si hay pedidos, se muestra listado*/-->
        <!--    <div class="bodyTable" th:each="comercial : ${listaComerciales}"> -->
        <div th:if="${pedidosFiltradosComercial}">
            <div class="theader">
                <div class="list-group-items fw-bold" th:text="#{txt_IDPedido}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_Total}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_Fecha}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_IDCliente}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_IDComercial}"></div>
            </div>

            <!--th:attr="class=${condition ? 'base condition-true' : 'base condition-false'}" -->
            <div class="bodyTable" th:each="pedido : ${pedidosFiltradosComercial}" th:classappend="${pedido.total == pedidoMaximo.total} ? 'max' : (${pedido.total == pedidoMinimo.total} ? 'min' : '')">
                <div class="list-group-items fw-bold" th:text="${pedido.id}"></div>
                <div class="list-group-items" th:text="${pedido.total}" ></div>
                <div class="list-group-items" th:text="${pedido.fecha}"></div>
                <a class="btn" th:href="@{/clientes/__${pedido.id_cliente}__}" th:text="${pedido.id_cliente}"></a>
                <div class="list-group-items" th:text="${pedido.id_comercial}"></div>

            </div>
        </div>
        <!--/* Si no, mensaje*/-->
        <div th:unless="${pedidosFiltradosComercial}">


            <div class="theader">
                <div class="list-group-items fw-bold" th:text="#{msg_noPedidos}"></div>
            </div>
        </div>



    </div>

<!--
    <div class="return">
        <form th:action="@{'/clientes/'+${.id}} ">
            <input class="btn btn-light" type="submit" value="Detalles del cliente" />
        </form>
    </div>-->

    <div class="leyenda">
        <h4>Leyenda de colores</h4>
        <p class="max">Pedido máximo</p>
        <p class="min">Pedido mínimo</p>

    </div>

    <!-- -->
    <div class="pedidos">

        <div class="fondoTitulo">
            <h3 class="fw-bold" th:text="#{h1_clientes}"></h3>
        </div>

        <!--/*Si hay clientes, se muestra listado*/-->
        <!--    <div class="bodyTable" th:each="comercial : ${listaComerciales}"> -->
        <div>
            <div class="theader">
                <div class="list-group-items fw-bold" th:text="#{txt_ID}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_Nombre}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_Apellido1}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_Apellido2}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_Ciudad}"></div>
                <div class="list-group-items fw-bold" th:text="#{txt_Categoría}"></div>
                <div class="list-group-items fw-bold" th:text="TOTAL"></div>



            </div>

            <div class="bodyTable" th:each="clienteTotal : ${clientesConTotalesOrdenados}">
                <div class="list-group-items fw-bold" th:text="${clienteTotal.id}"></div>
                <div class="list-group-items" th:text="${clienteTotal.nombre}"></div>
                <div class="list-group-items" th:text="${clienteTotal.apellido1}"></div>
                <div class="list-group-items" th:text="${clienteTotal.apellido2}"></div>
                <div class="list-group-items" th:text="${clienteTotal.ciudad}"></div>
                <div class="list-group-items" th:text="${clienteTotal.categoria}"></div>
                <div class="list-group-items" th:text="${clienteTotal.totalPedido}"></div>

            </div>

            <!--th:attr="class=${condition ? 'base condition-true' : 'base condition-false'}" -->
           <!-- <div th:each="cliente : ${clientesDelComercialOrdenados}">
                <div th:if="${cliente.getCuantiaTotalPedidos() > 0}" class="bodyTable">
                     <div class="list-group-items fw-bold" th:text="${cliente.id}"></div>
                    <div class="list-group-items" th:text="${cliente.cuantiaTotalPedidos}" ></div>
                </div>
                <div th:unless="${cliente.getCuantiaTotalPedidos() > 0}">
            </div>
        </div>-->


    </div>


    <div class="return">

        <form action="/comerciales" >
            <input class="btn btn-light" type="submit" th:value="#{btn_volverAListado}" />
        </form>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>