<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Cliente</title>
</head>
<body>

<div id="contenedora">
    <form  th:action="@{/clientes/editar/__${cliente.id}__}" th:object="${cliente}" method="post" >
        <div>
            <div>
                <h1>Editar Cliente</h1>
            </div>
            <div>

                <div>
                    <input type="submit" value="Guardar" />
                </div>

            </div>
        </div>

        <div>
            <div>
                <label>ID</label>
            </div>
            <div>
                <input th:field="*{id}" readonly="readonly"/>
            </div>
        </div>
        <div>
            <div>
                <label>Nombre</label>
            </div>
            <div>
                <input th:field="*{nombre}"/>
            </div>
        </div>

        <div>
            <div>
                <label>Apellido 1</label>
            </div>
            <div>
                <input th:field="*{apellido1}"/>
            </div>
        </div>

        <div>
            <div>
                <label>Apellido 2</label>
            </div>
            <div>
                <input th:field="*{apellido2}"/>
            </div>
        </div>

        <div>
            <div>
                <label>Ciudad</label>
            </div>
            <div>
                <input th:field="*{ciudad}"/>
            </div>
        </div>

        <div>
            <div>
                <label>Categoría</label>
            </div>
            <div>
                <input th:field="*{categoria}"/>
            </div>
        </div>

    </form>
</div>

</body>
</html>