<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>

<div id="contenedora">
    <div class="header">
        <h1 th:text="#{h1_Pedidos}"></h1>
        <form action="/pedidos/crear">
            <input disabled="disabled" class="botonCrear btn btn-light" type="submit" th:value="#{btn_crearNuevoPedido}">
        </form>
    </div>

    <div class="theader">
        <div class="list-group-items fw-bold" th:text="#{txt_ID}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_Total}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_Fecha}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_IDCliente}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_IDComercial}"></div>
        <div class="list-group-items fw-bold" th:text="#{txt_Acción}"></div>


    </div>

    <div class="bodyTable" th:each="pedido : ${listaPedidos}">
        <div class="list-group-items fw-bold" th:text="${pedido.id}">Id</div>
        <div class="list-group-items" th:text="${pedido.total}">Total</div>
        <div class="list-group-items" th:text="${pedido.fecha}">Fecha</div>
        <a class="btn" disabled="disabled" th:href="@{/clientes/__${pedido.id_cliente}__}" th:text="${pedido.id_cliente}"></a>
        <a class="btn" disabled="disabled" th:href="@{/comerciales/__${pedido.id_comercial}__}" th:text="${pedido.id_comercial}"></a>



       <div class="buttons btn-group">
            <form th:action="@{/pedidos/__${pedido.id}__}">
                <input disabled="disabled" class="btn btn-light" type="submit" th:value="#{btn_detalles}" />
            </form>
            <form th:action="@{'/pedidos/editar/'+${pedido.id}} ">
                <input disabled="disabled" class="btn btn-primary" type="submit" th:value="#{btn_editar}" />
            </form>

            <form th:action="@{'/pedidos/borrar/'+${pedido.id}}" method="post">
                <input disabled="disabled" class="btn btn-danger" type="submit" th:value="#{btn_borrar}" />
            </form>

            <!--
            <form th:action="@{'/pedidos/borrar/'+${pedido.id}}" method="post">
                <button type="button" class="buttons btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal" th:text="#{btn_borrar}">
                    Borrar
                </button>
            </form>
           -->
        </div>
    </div>

    <div class="return">
        <form th:action="@{/}">
            <input class="btn btn-light" type="submit" th:value="#{btn_volverAListado}" />
        </form>
    </div>

</div>
<!-- Modal -->
<div class="modal fade text-dark" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="modalLabel">Confirmar borrado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>